.sectionTop {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px
}

.sectionTop h1 {
  font-size: 24px;
  font-weight: 700;
}
.sectionTop h2 {
  font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}
.sectionTop a {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: #000;
  background-color: #25D366;
  font-size: 16px;
  font-weight: 800;
  border-radius: 10px;
  width: 310px;
}
@media (max-width: 767px) {
  .sectionTop h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}